.indexbody{
    background-color: #adb6c4;
}

.welcome1{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-bottom: 0px;
padding-top: 5px;
font-size: 150px;
}

.welcome{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
    font-size:100px;
    }

.welcome2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    .homepic{
        width: 500x;
        height: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
        #mySidenav a {
            position: absolute; /* Position them relative to the browser window */
            left: -110px; /* Position them outside of the screen */
            transition: 0.3s; /* Add transition on hover */
            padding: 15px; /* 15px padding */
            width: 140px; /* Set a specific width */
            text-decoration: none; /* Remove underline */
            font-size: 20px; /* Increase font size */
            color: black; /* Black text color */
            border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
          }
          
          #mySidenav a:hover {
            left: 0; /* On mouse-over, make the elements appear as they should */
          }
          
          /* The index link: 20px from the top with a background */
          #index {
            top: 30px;
            background-color: #FFEFD3;
          }
          
          #atd {
            top: 100px;
            background-color: #FFEFD3; /* Papaya Whip */
          }
          
          #planner {
            top: 170px;
            background-color: #FFEFD3; /* Papaya Whip  */
          }
          
          #schedule{
            top: 240px;
            background-color: #FFEFD3 /* Papaya Whip */
          }

          #cal{
            top: 310px;
            background-color: #FFEFD3 /* Papaya Whip */
          }

          .fa-home{
            font-size: 20px;
            padding-left: 60px;
          }

          .fa-user-circle{
            font-size: 20px;
            padding-left: 20px;
          }

          .fa-calendar-day{
            font-size: 20px;
            padding-left: 40px;
          }

         .fa-clipboard-list{
           font-size: 20px;
           padding-left: 40px;
         }

         .fa-pencil-alt{
          font-size: 20px;
          padding-left: 50px;
         }


         
          


          
















